<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="w-full h-[100svh] bg-red-200">
  <app-flex-full>
    <div class="flex w-full bg-black flex-col">This</div>
    <!-- <app-vstack-full customClass="gap-[2vh]">
      <h1 class="text-4xl font-bold text-slate-700">Custom Components In Angular</h1>
      <app-flex-full customClass="bg-gray-300 p-[1vh] w-full ">
        <div class="p-4 bg-blue-200">Item 1</div>
        <div class="p-4 bg-blue-400">Item 2</div>
        <div class="p-4 bg-blue-600">Item 3</div>
      </app-flex-full>
      <app-center-horizontal customClass="bg-blue-300 w-full">This is centered</app-center-horizontal>
      <app-vstack-fit customClass="">
        <div>This</div>
        <div>That</div>
        <div>Something else</div>
        <div class="bg-blue-400 w-[5vh] h-[5vh]"></div>
      </app-vstack-fit>
      <app-vstack-full customClass="bg-white w-full">
        <app-flex-fit>
          <p class="bg-blue-500">This</p>
        </app-flex-fit>
        <app-flex-fit>
          <p class="bg-blue-500">That</p>
        </app-flex-fit>
        <app-flex-fit>
          <p class="bg-blue-500">Something else</p>
        </app-flex-fit>
      </app-vstack-full>
    </app-vstack-full> -->
  </app-flex-full>
</main>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />