<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="w-full h-[100svh] bg-red-200">

  <div class="vstackfull gap-[2vh] p-[1vh]">
    <!-- <app-chorizontal> -->
    <div class="centerfull">
      <h1 class="text-slate-700">Custom Components In Angular</h1>
    </div>
    <!-- </app-chorizontal> -->
    <app-titled-vstack title="FlexFull: ffull (with three child elements)">
      <div class="flexfull example-parent-container">
        <div class="vstackfit gap-[2vh]">
          <div class=" bg-blue-100 border rounded-xl p-[1vh] shadow-xl">Item 1</div>
          <div class="bg-blue-200 border rounded-xl p-[1vh] shadow-xl">Item 2</div>
          <div class=" bg-blue-300 border rounded-xl p-[1vh] shadow-xl">Item 3</div>
        </div>
      </div>
    </app-titled-vstack>
    <app-titled-vstack title="CenterHorizontal: chorizontal">
      <app-chorizontal customClass="bg-slate-500 rounded-xl border p-[1vh] text-white">This is
        centered</app-chorizontal>
    </app-titled-vstack>
    <app-titled-vstack title="VStackFit: vfit">
      <app-vfit customClass="">
        <div>This</div>
        <div>That</div>
        <div>Something else</div>
        <div class="bg-blue-400 w-[5vh] h-[5vh] example-parent-container"></div>
      </app-vfit>
    </app-titled-vstack>
    <app-vfull customClass="bg-white">
      <app-ffit>
        <p class="bg-blue-500">This</p>
      </app-ffit>
      <app-ffit>
        <p class="bg-blue-500">That</p>
      </app-ffit>
      <app-ffit>
        <p class="bg-blue-500">Something else</p>
      </app-ffit>
    </app-vfull>
  </div>

  <!-- </app-ffull> -->
</main>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />