<div class="page-container pt-5vh">
    <div class="wrapfull p-1.5vh justify-evenly gap-lg">
        <div class="colortheme bg-100">theme: 100</div>
        <div class="colortheme bg-200">theme: 200</div>
        <div class="colortheme bg-300">theme: 300</div>
        <div class="colortheme bg-400 text-100">theme: 400</div>
        <div class="colortheme bg-500 text-100">theme: 500</div>
        <div class="colortheme bg-600 text-100">theme: 600</div>
        <div class="colortheme bg-700 text-100">theme: 700</div>
        <div class="colortheme bg-800 text-100">theme: 800</div>
        <div class="colortheme bg-900 text-100">theme: 900</div>
    </div>
    <div class="wrapfull gap-lg justify-evenly p-1.5vh ">
        <div class="simple-container rounded-3xs">rounded-3xs</div>
        <div class="simple-container rounded-2xs">rounded-2xs</div>
        <div class="simple-container rounded-xs">rounded-xs</div>
        <div class="simple-container rounded-sm">rounded-sm</div>
        <div class="simple-container rounded-md">rounded-md</div>
        <div class="simple-container rounded-lg">rounded-lg</div>
        <div class="simple-container rounded-xl">rounded-xl</div>
        <div class="simple-container rounded-2xl text-xl">rounded-2xl</div>
    </div>
    <div class="flexfull py-1.5vh justify-evenly">
        <div class="container-one h-fit w-30%">container one</div>
        <div class="container-two h-fit w-30%">container two</div>
        <div class="container-three h-fit w-30%">container-three</div>
    </div>
    <div class="wrapfull p-md gap-lg">
        <div class="vstack md:w-5/12 gap-md">
            <div class="vstackfull gap-md items-center">

            </div>


        </div>

        <div class="vstack container-one gap-md bg-100 p-2vh items-center md:w-5/12">
            <p class="txt-xxs">text-xxs</p>
            <p class="txt-xs">text-xs</p>
            <p class="txt-sm">text-sm</p>
            <p class="txt-md">text-md</p>
            <p class="txt-lg">text-lg</p>
            <p class="txt-xl">text-xl</p>
            <p class="txt-2xl">text-2xl</p>
            <p class="txt-3xl">text-3xl</p>
            <p class="txt-4xl">text-4xl</p>
            <p class="txt-5xl">text-5xl</p>
            <p class="txt-6xl">text-6xl</p>
        </div>
        <div class="vstack container-two gap-xl bg-100 p-2vh items-center h-fit">
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
        </div>
    </div>
</div>