<main>
    <div class="wrapfull p-md gap-lg">
        <div class="vstack md:w-5/12 gap-md">
            <div class="vstackfull gap-md items-center">
                <div class="container-one h-fit w-30vh">container one</div>
                <div class="container-two h-fit w-30vh">container two</div>
                <div class="container-three h-fit w-30vh">container-three</div>
            </div>
            <div class="wrapfull gap-md">
                <div class="simple-container rounded-3xs">rounded-3xs</div>
                <div class="simple-container rounded-2xs">rounded-2xs</div>
                <div class="simple-container rounded-xs">rounded-xs</div>
                <div class="simple-container rounded-sm">rounded-sm</div>
                <div class="simple-container rounded-md">rounded-md</div>
                <div class="simple-container rounded-lg">rounded-lg</div>
                <div class="simple-container rounded-xl">rounded-xl</div>
                <div class="simple-container rounded-2xl text-xl">rounded-2xl</div>
            </div>

        </div>

        <div class="vstack container-one gap-md bg-100 p-2vh items-center md:w-5/12">
            <p class="txt-xxs">text-xxs</p>
            <p class="txt-xs">text-xs</p>
            <p class="txt-sm">text-sm</p>
            <p class="txt-md">text-md</p>
            <p class="txt-lg">text-lg</p>
            <p class="txt-xl">text-xl</p>
            <p class="txt-2xl">text-2xl</p>
            <p class="txt-3xl">text-3xl</p>
            <p class="txt-4xl">text-4xl</p>
            <p class="txt-5xl">text-5xl</p>
            <p class="txt-6xl">text-6xl</p>
        </div>
        <div class="vstack container-two gap-xl bg-100 p-2vh items-center h-fit">
            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
        </div>
    </div>


</main>