/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLORS  */
  --one: #fcf1e6;
  --two: #d9799c;
  --three: #04adbf;
  --four: #5e4eb3;
  --five: #a10034;
  --six: #59023b;
  --seven: #2a1673;
  --eight: #023059;
  --nine: #2a2f56;

  /* BOX SHADOWS  */
  --shadowxxs: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.8);
  --shadowxs: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.8);
  --shadowsm: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.8);
  --shadowmd: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
  --shadowlg: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.8);
  --shadowxl: 1vh 1vh 2vh rgba(0, 0, 0, 0.8);
  --shadowxxl: 2vh 2vh 4vh rgba(0, 0, 0, 0.8);

  /* TEXT SHADOWS  */
  --txtshadowxxs: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.8);
  --txtshadowxs: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.8);
  --txtshadowsm: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.8);
  --txtshadowmd: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
  --txtshadowlg: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.8);
  --txtshadowxl: 1vh 1vh 2vh rgba(0, 0, 0, 0.8);
  --txtshadowxxl: 2vh 2vh 4vh rgba(0, 0, 0, 0.8);

  /* SPACING  */
  --xxs: 0.2vh;
  --xs: 0.4vh;
  --sm: 0.6vh;
  --md: 1.2vh;
  --lg: 1.8vh;
  --xl: 2.4vh;
  --xxl: 3.6vh;
  --xxxl: 4.8vh;
}

* {
  margin: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--nine);
  font-size: 1.8vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 100vw;
  background-color: var(--eight);
}

/* TYPOGRAPHY  */

h1 {
  font-size: 3.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--one);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 3vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--one);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
}

h3 {
  font-size: 2.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--one);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
}

h4 {
  font-size: 2vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--one);
  text-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
}

.txt-xxs {
  font-size: 1.2vh;
  line-height: 1.1;
}

.txt-xs {
  font-size: 1.4vh;
  line-height: 1.1;
}

.txt-sm {
  font-size: 1.6vh;
  line-height: 1.1;
}

.txt-md {
  font-size: 1.8vh;
  line-height: 1.1;
}

.txt-lg {
  font-size: 2vh;
  line-height: 1.1;
}

.txt-xl {
  font-size: 2.2vh;
  line-height: 1.1;
}

.txt-xxl {
  font-size: 2.4vh;
  line-height: 1.1;
}

.txt-xxxl {
  font-size: 2.6vh;
  line-height: 1.1;
}

.txtshadow-xxs {
  text-shadow: var(--txtshadowxxs);
}

.txtshadow-xs {
  text-shadow: var(--txtshadowxs);
}

.txtshadow-sm {
  text-shadow: var(--txtshadowsm);
}

.txtshadow-md {
  text-shadow: var(--txtshadowmd);
}

.txtshadow-lg {
  text-shadow: var(--txtshadowlg);
}

.txtshadow-xl {
  text-shadow: var(--txtshadowxl);
}

.txtshadow-xxl {
  text-shadow: var(--txtshadowxxl);
}

/* SPACING  */

.pxxs {
  padding: var(--xxs);
}

.pxs {
  padding: var(--xs);
}

.psm {
  padding: var(--sm);
}

.pmd {
  padding: var(--md);
}

.plg {
  padding: var(--lg);
}

.pxl {
  padding: var(--xl);
}

.pxxl {
  padding: var(--xxl);
}

.pxxxl {
  padding: var(--xxxl);
}

.gapxxs {
  gap: var(--xxs);
}

.gapxs {
  gap: var(--xs);
}

.gapsm {
  gap: var(--sm);
}

.gapmd {
  gap: var(--md);
}

.gaplg {
  gap: var(--lg);
}

.gapxl {
  gap: var(--xl);
}

.gapxxl {
  gap: var(--xxl);
}

.gapxxxl {
  gap: var(--xxxl);
}

.gapyxxs {
  column-gap: var(--xxs);
}

.gapys {
  column-gap: var(--xs);
}

.gapysm {
  column-gap: var(--sm);
}

.gapymd {
  column-gap: var(--md);
}

.gapylg {
  column-gap: var(--lg);
}

.gapyxl {
  column-gap: var(--xl);
}

.gapyxxl {
  column-gap: var(--xxl);
}

.gapyxxxl {
  column-gap: var(--xxxl);
}

.gapxxxs {
  row-gap: var(--xxs);
}

.gapxxs {
  row-gap: var(--xs);
}

.gapxsm {
  row-gap: var(--sm);
}

.gapxmd {
  row-gap: var(--md);
}

.gapxlg {
  row-gap: var(--lg);
}

.gapxxl {
  row-gap: var(--xl);
}

.gapxxxl {
  row-gap: var(--xxl);
}

.gapxxxxl {
  row-gap: var(--xxxl);
}

/* BOX SHADOWS  */

.shadow-xxs {
  box-shadow: var(--shadowxxs);
}

.shadow-xs {
  box-shadow: var(--shadowxs);
}

.shadow-sm {
  box-shadow: var(--shadowsm);
}

.shadow-md {
  box-shadow: var(--shadowmd);
}

.shadow-lg {
  box-shadow: var(--shadowlg);
}

.shadow-xl {
  box-shadow: var(--shadowxl);
}

.shadow-xxl {
  box-shadow: var(--shadowxxl);
}

/* BUILDING BLOCK CLASSES  */

.flexfit {
  display: flex;
}

.flexfull {
  flex: 1;
  width: 100%;
}

.centerfull {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.vstackfit {
  display: flex;
  flex-direction: column;
}

.vstackfull {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapfull {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* CUSTOM COMPONENT CLASSES  */

.container-one {
  background-color: var(--six);
  border: var(--xxs) solid var(--two);
  color: var(--one);
  border-radius: var(--md);
  padding: var(--md);
  box-shadow: var(--shadowmd);
}

.container-two {
  background-color: var(--seven);
  border: var(--xxs) solid var(--four);
  color: var(--one);
  border-radius: var(--md);
  padding: var(--md);
  box-shadow: var(--shadowmd);
}

.container-three {
  border: var(--xxs) solid var(--three);
  border-radius: var(--md);
  color: var(--one);
  padding: var(--md);
  box-shadow: var(--shadowmd);
}
